<TweakUIX>
  <Feature>
     <id>Özellikler imza dosyası</id>
	 <description>Sunulan özelliklerin tümünün alındığı dosya</description>
	<dev>Builtbybel</dev>
    <uri>https://raw.githubusercontent.com/builtbybel/TweakUIX/main/features/app.xml</uri>
   </Feature>
   <Feature>
     <id>Yardım</id>
	 <description>kısa açıklama Tweak UIX</description>
	<dev>Builtbybel</dev>
    <uri>https://raw.githubusercontent.com/builtbybel/TweakUIX/main/features/help.txt</uri>
   </Feature>
      <Feature>
     <id>Başlangıç ayarları</id>
	 <description>yaptığınız başlangıç ayarını saklamanızı sağlar</description>
	<dev>Builtbybel</dev>
    <uri>https://raw.githubusercontent.com/builtbybel/TweakUIX/main/features/startup.tuix</uri>
   </Feature>
  <Feature>
    <id>Windows verilerini bloklama - güvenlik duvarı gizli kuralları</id>
	 <description>Windows telemetri takibini önler</description>
	<dev>crazy-max</dev>
    <uri>https://raw.githubusercontent.com/crazy-max/WindowsSpyBlocker/master/data/firewall/spy.txt</uri>
   </Feature>
     <Feature>
     <id>Hızlıca Temel uygulamaları yükleyebilirsiniz</id>
	 <description>The great eight: 7zip, Bleachbit, IrfanView, Firefox, Notepad++, ShareX, SumatraPDF, VLC Player</description>
	<dev>Builtbybel</dev>
    <uri>https://raw.githubusercontent.com/builtbybel/TweakUIX/main/features/packages.app</uri>
   </Feature>
      <Feature>
     <id>Windows 10 ve Windows 11'i ayıklamak için şablon</id>
	 <description>Bu, bir topluluk tasfiye şablonu getirecektir</description>
	<dev>Builtbybel</dev>
    <uri>https://raw.githubusercontent.com/builtbybel/TweakUIX/main/features/uninstaller.app</uri>
   </Feature>
         <Feature>
     <id>Windows 10 Şablonu</id>
	 <description>Windows 10 için tweak ön ayarlarını yüklemenizi sağlar</description>
	<dev>Builtbybel</dev>
    <uri>https://raw.githubusercontent.com/builtbybel/TweakUIX/main/features/Windows10_Template.tuix</uri>
   </Feature>
         <Feature>
     <id>Oyun Şablonu</id>
	 <description>Daha iyi bir Oyun Deneyimi için Önerilen Düzeltmeler</description>
	<dev>Builtbybel</dev>
    <uri>https://raw.githubusercontent.com/builtbybel/TweakUIX/main/features/Gaming_Template.tuix</uri>
   </Feature>
     <Feature>
     <id>Web aramaları için Edge'i varsayılan tanıtıcı olarak atla(Plugin)</id>
	 <description>Bu eklenti, Edge'i web aramaları için varsayılan olarak atlamanıza izin verir </description>
	<dev>AveYo</dev>
    <uri>https://raw.githubusercontent.com/builtbybel/TweakUIX/main/features/plugins/Bypass_Edge_default_handler.ps1</uri>
   </Feature>
      <Feature>
     <id>Windows'u temizleyin (Plugin)</id>
	 <description>Bu, bilgisayarınızın sabit diskindeki gereksiz dosyaları temizlemek için Cleanmgr.exe olarak bilinen klasik Disk temizleme yardımcı programını kullanacaktır.</description>
	<dev>Builtbybel</dev>
    <uri>https://raw.githubusercontent.com/builtbybel/TweakUIX/main/features/plugins/Clean-up_Windows.ps1</uri>
   </Feature>
   <Feature>
     <id>Telemetry Plugins</id>
	 <description>Bu, telemetriyi kaldırmak, hizmetleri devre dışı bırakmak vb. için eklentiler yükleyecektir.</description>
	<dev>Builtbybel</dev>
    <uri>https://raw.githubusercontent.com/builtbybel/TweakUIX/main/features/plugins/Disable-services.ps1,https://raw.githubusercontent.com/builtbybel/TweakUIX/main/features/plugins/Remove_telemetry-third-party-apps.ps1</uri>
   </Feature>
      <Feature>
     <id>OneDrive Kaldır(Plugin)</id>
	 <description>Bu eklenti OneDrive entegrasyonunu kaldıracak ve devre dışı bırakacaktır.</description>
	<dev>W4RH4WK</dev>
    <uri>https://raw.githubusercontent.com/builtbybel/TweakUIX/main/features/plugins/Remove_OneDrive.ps1</uri>
   </Feature>
    <Feature>
     <id>Reinstall all in-box apps (Plugin)</id>
	 <description>This plugin will reinstall all in-box apps in a single step.</description>
	<dev>Builtbybel</dev>
    <uri>https://raw.githubusercontent.com/builtbybel/TweakUIX/main/features/plugins/Reinstall-all-built-in-apps.ps1</uri>
   </Feature>
    <Feature>
     <id>Enable Ultimate Peformance Mode (Plugin)</id>
	 <description>This plugin will add an "Ultimate Performance" power plan option to energy options.</description>
	<dev>Builtbybel</dev>
    <uri>https://raw.githubusercontent.com/builtbybel/TweakUIX/main/features/plugins/Ultimate_PerformanceMode.ps1</uri>
   </Feature>
    <Feature>
     <id>Otomatik Oturum Açma(Plugin)</id>
	 <description>Bu eklenti güvenli Windows AutoLogon'u etkinleştirecektir</description>
	<dev>rcmaehl</dev>
    <uri>https://raw.githubusercontent.com/builtbybel/TweakUIX/main/features/plugins/AutoLogon.ps1</uri>
   </Feature>
       <Feature>
     <id>MSEdgeRedirect (Plugin)</id>
	 <description>Bu eklenti, Haberler, Arama, Widget'lar, Hava Durumu ve daha fazlasını varsayılan Tarayıcınıza yönlendirmenize izin veren bir GUI ile üçüncü taraf bir yardımcı program çalıştıracaktır.</description>
	<dev>rcmaehl</dev>
    <uri>https://raw.githubusercontent.com/builtbybel/TweakUIX/main/features/plugins/MSEdgeRedirect.ps1</uri>
   </Feature>
 </TweakUIX>
